@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  font-family: Inter, ui-sans-serif, system-ui;
  background: #f5f5f5;
  color: #111827;
}

html.dark body {
  background: #050b18;
  color: #e5e7eb;
}

/* A small helper for horizontal card scrolling on mobile */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
